<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs panel-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#problems" data-toggle="tab" role="tab">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#standings" data-toggle="tab" role="tab">Standings</a>
            </li>
          </ul>
        </div>
        <div class="card-block main-content">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="problems">
              <div class="row">
                <table class="table table-striped table-bordered table-hover table-responsive contest">
                  <thead>
                    <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Time Limit</th>
                    <th>Memory Limit</th>
                    <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @contest.problems.each_with_index do |problem, i| %>
                    <tr>
                      <td><%= @alph[i] %></td>
                      <td><%= link_to problem.name, problem_path(problem) %></td>
                      <td><%= problem.time_limit %>s</td>
                      <td><%= problem.memory_limit %>mb</td>
                      <td>Not Tried</td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="standings">
              <div class="row">
                <table class="table table-striped table-bordered table-hover table-responsive contest">
                  <thead>
                    <tr>
                    <th>Team</th>
                    <th>Total</th>
                    <th>Penalty</th>
                    <% @contest.problems.each_with_index do |problem, i| %>
                      <th><%= @alph[i] %></th>
                    <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @scoreboard_users = [] %>
                    <% @contest.users.each do |user| %>
                      <% @verdicts = [] %>
                      <% @score = 0 %>
                      <% @penalty = 0 %>
                      <% @contest.problems.each do |problem| %>
                        <% @verdict = user.get_verdict(problem, @contest.start, @contest.start + (@contest.duration*60)) %>
                        <% @verdicts << @verdict[0] %>
                        <% @score += 1 if @verdict[0] >= 1 %>
                        <% print @verdict[1] %>
                        <% @penalty += (@verdict[0]-1)*20 + Integer(@verdict[1] - @contest.start)/60 if @verdict[0] >= 1 %>
                      <% end %>
                      <% @current_user = [user.name, @score, @penalty] %>
                      <% @contest.problems.each_with_index do |problem, i| %>
                        <% @current_user << @verdicts[i] %>
                      <% end %>
                      <% @scoreboard_users.push(@current_user) %>
                    <% end %>
                    <% @scoreboard_users.sort_by{|c| [-c[1], c[2]]}.each do |user| %>
                    <tr>
                      <% user.each_with_index do |d, i| %>
                        <% if(i>2) %>
                          <td class="baloon">
                        <% else %>
                          <td>
                        <% end %>
                          <%=d%>
                        </td>
                      <% end %>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>  
          </div>  
        </div>
        <div class="card-block">
          <%= link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-success text-white' if(user_signed_in? and current_user.admin) %>
          <%= link_to 'Back', contests_path, class: 'btn btn-success text-white' if(user_signed_in? and current_user.admin) %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <%= @contest.name %>
        </div>
        <div class="card-block">
          <p>Start: <%= @contest.start %></p>
          <p>Duration: <%= @contest.duration %><%=" "%>minutes</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Statistics
        </div>
        <div class="card-block">
          <p>A: 1/2</p>
          <p>B: 0/1</p>
          <p>C: 1/1</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Announcements
        </div>
        <div class="card-block">
          <p>Announcements fake 1</p>
          <p>Announcements fake 2</p>
        </div>
      </div>
    </div>
  </div>
</div>
