<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Standings</a>
            </li>
          </ul>
        </div>
        <div class="card-block">
          <div class="row">
            <table class="table table-striped table-bordered table-hover table-responsive contest">
              <thead>
                <tr>
                <th>#</th>
                <th>Name</th>
                <th>Time Limit</th>
                <th>Memory Limit</th>
                <th>Status</th>
                </tr>
              </thead>
              <tbody>
              <% @contest.problems.each_with_index do |problem, i| %>
                <tr>
                  <td><%= @alph[i] %></td>
                  <td><%= problem.name %></td>
                  <td><%= problem.time_limit %>s</td>
                  <td><%= problem.memory_limit %>mb</td>
                  <td>Not Tried</td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-block">
          <%= link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-success' %>
          <%= link_to 'Back', contests_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <%= @contest.name %>
        </div>
        <div class="card-block">
          <p>Start: <%= @contest.start %></p>
          <p>Duration: <%= @contest.duration %><%=" "%>minutes</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Announcements
        </div>
        <div class="card-block">
          <p>Announcements fake 1</p>
          <p>Announcements fake 2</p>
        </div>
      </div>
    </div>
  </div>
</div>
