<div class="container">
  <div class="row">
    <div class="col-md-9">
      <p>Name: <%= @contest.name %></p>
      <p>Start: <%= @contest.start %></p>
      <p>Duration: <%= @contest.duration %></p>
      <p>Created_at: <%= @contest.created_at %></p>

      <%= link_to 'Edit', edit_contest_path(@contest), class: 'btn btn-primary' %>
      <%= link_to 'Back', contests_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
