<div class="container">
  <div class="row">
    <div class="col-md-9 push-md-3">
      <h1>Problems</h1>
    </div>

    <div class="col-md-12">
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @problems.each do |problem| %>
            <tr>
              <td scope="row"><%= problem.id %></td>
              <td><%= problem.name %></td>
              <td>
                <%= link_to 'Show', problem_path(problem), class: 'btn btn-xs btn-secondary' %>
                <%= link_to 'Edit', edit_problem_path(problem), class: 'btn btn-xs btn-secondary' %>
                <%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to 'New Problem', new_problem_path, class: 'btn btn-primary' %>

    </div>
  </div>
</div>
