<p id="notice"><%= notice %></p>

<h1>Problems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sample input</th>
      <th>Sample output</th>
      <th>Input</th>
      <th>Output</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= problem.name %></td>
        <td><%= problem.description %></td>
        <td><%= problem.sample_input %></td>
        <td><%= problem.sample_output %></td>
        <td><%= problem.input %></td>
        <td><%= problem.output %></td>
        <td><%= problem.note %></td>
        <td><%= link_to 'Show', problem %></td>
        <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
        <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem', new_problem_path %>
