<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title"><%= @problem.name %></h2>

          <div class="card">
            <div class="card-block">
              <%= @problem.description %>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h4>Example:</h4>
              <div class="card">
                <div class="card-block">
                  Input: <%= @problem.sample_input %>
                </div>
              </div>
              <div class="card">
                <div class="card-block">
                Output: <%= @problem.sample_output %>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h4>Note:</h4>
              <%= @problem.note %>
            </div>
          </div>
        </div>

        <div class="card-block">
          <%= link_to 'Edit', edit_problem_path(@problem), class: 'card-link btn btn-primary' %>
          <%= link_to 'Back', problems_path, class: 'card-link btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Contest 2</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue, eros id congue convallis, mi eros rhoncus lorem, ac luctus ligula lacus auctor purus. Nullam a congue massa, a mollis felis.</p>
        </div>
        <div class="card-action">
          <a class="btn" href="#">Standing</a>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <h4 class="card-title">My Submissions</h4>
        <div class="card-action">
          Submission 2 | WA
        </div>
        <div class="card-action">
          Submission 1 | TLE
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
