<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title"><%= @problem.name %></h2>

          <div class="card">
            <div class="card-block">
              <%= @problem.description.html_safe %>
            </div>
          </div>

          <div class="card">
            <div class="card-block">
              <h4>Input:</h4>
              <%= @problem.input_description.html_safe %>
            </div>
            <div class="card-block">
              <h4>Output:</h4>
              <%= @problem.output_description.html_safe %>
            </div>
          </div>
          <%if(not @problem.note.blank?)%>
          <div class="card">
            <div class="card-block">
              <h4>Note:</h4>
              <%= @problem.note %>
            </div>
          </div>
          <% end %>
        </div>

        <div class="card-block">
          <%= link_to 'Edit', edit_problem_path(@problem), class: 'card-link btn btn-primary' if(user_signed_in? and current_user.admin) %>
          <%= link_to 'Back', problems_path, class: 'card-link btn btn-primary' if(user_signed_in? and current_user.admin) %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Contest 2</h4>
          <p>Runing: 57 minutes left</p>
        </div>
        <div class="card-action">
          <a class="btn" href="#">Standings</a>
          <%= link_to '<i class="fa fa-paper-plane" aria-hidden="true"></i> Submit'.html_safe, new_submission_url, class: 'card-link btn btn-success'%>
        </div>
      </div>

      <div class="card">
        <div class="card-block">
          <h4 class="card-title">My Submissions</h4>
        <div class="card-action">
          Submission 2 | WA
        </div>
        <div class="card-action">
          Submission 1 | TLE
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
