<div class="container">
  <div class="row">
    <div class="col-md-9 push-md-3">
      <h1>Submissions</h1>
    </div>

    <div class="row">
      <table class="table table-bordered table-hover table-responsive">
        <thead>
          <tr>
          <th>Verdict</th>
          <th>Language</th>
          <th>Execution time</th>
          <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @submissions.each do |submission| %>
            <tr>
              <td><%= submission.verdict %></td>
              <td><%= submission.language %></td>
              <td><%= submission.execution_time %>ms</td>
              <td><%= link_to 'Show', submission, class: 'btn btn-xs btn-secondary' %></td>
              <td><%= link_to 'Edit', edit_submission_path(submission), class: 'btn btn-xs btn-secondary' %></td>
              <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to 'New Submission', new_submission_path , class: 'btn btn-primary' %>
  </div>
  </div>
</div>

