<p id="notice"><%= notice %></p>

<p>
  <strong>Verdict:</strong>
  <%= @submission.verdict %>
</p>

<p>
  <strong>Language:</strong>
  <%= @submission.language %>
</p>

<p>
  <strong>Execution time:</strong>
  <%= @submission.execution_time %>
</p>

<p>
  <strong>Code:</strong>
  <%= @submission.code %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
